.banner {
  width: 90%;
  margin: 0 auto;
  padding-left: 4em;
  background: gradient
}

.image {
  width: 480px;
  height: 320px;
}

.caption {
  text-align: center;
}

.photo-gallery {
  width: 45em;
  margin: 2em auto;
  display: flex;
  justify-content: center;
}

.switch {
  height: 80px;
}

.btnColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em 1em 0 1em;
}